* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
}

body {
}
main {
  overflow-y: scroll;
}
img {
  height: 50px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
h3 {
  font-size: 16px;
}
main {
  height: calc(100vh - 90px);
}
p {
  opacity: 0.53;
}

/* SIDE NAVBAR  */
#side-nav {
  height: calc(100% - 90px);
  width: 230px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  padding: 20px 20px 7px;
  display: flex;
  flex-direction: column;
}
#side-nav #logo-big {
  margin-bottom: 20px;
  width: 132px;
}
#side-nav .index{
  display: flex;
  align-items: center;
  opacity: 0.53;
  line-height: 35px;
  margin-left: -20px;
  padding-left: 20px;
}
#side-nav .index span {
  font-size: 12px;
  margin-left: 5px;
}
#side-nav .index:hover{
  opacity: 1;
}
#side-nav .index.active{
  opacity: 1;
  border-left: 3px solid #adff2f;
  padding-left: 17px;
}
#side-nav .index img{
  width: 24px;
  height: auto;
}
#side-nav h4 {
  font-size: 13px;
  text-transform: uppercase;
  margin: 14px 0 12px;
}
#side-nav #crea-playlist {
  opacity: 0.53;
  font-size: 15px;
  margin-bottom: 10px;
}
#side-nav #crea-playlist:hover {
  opacity: 1;
}
#side-nav #plus-icon {
  height: 37px;
  width: 37px;
  background-color: white;
  display: inline-block;
  text-align: center;
  margin-right: 8px;
}
#side-nav #plus-icon .fa-plus {
  font-size: 20px;
  line-height: 37px;
  color: black;
}
#side-nav ul {
  font-size: 13px;
  line-height: 36px;
  cursor: pointer;
  flex-grow: 2;
  overflow-y: auto;
}
#side-nav ul li {
  opacity: 0.53;
}
#side-nav ul li:hover {
  opacity: 1;
}
#side-nav #download-app {
  opacity: 0.53;
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
}
#side-nav #download-app:hover {
  opacity: 1;
}
#side-nav #download-app img{
  width: 18px;
  height: auto;
  margin-right: 10px;
}
#side-nav hr {
  margin: 10px 0 12px;
  opacity: 0.53;
}
#side-nav #profile {
  display: flex;
  align-items: center;
}
#side-nav #profile-background {
  background-color: grey;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  overflow: hidden;
  margin-right: 10px;
}
#side-nav #profile-background img {
  width: 100%;
  height: auto;
}
#side-nav #profile span {
  font-size: 14px;
}


/* SIDE NAV XS */
#side-nav-xs {
  height: calc(100% - 90px);
  width: 50px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#side-nav-xs a {
  display: block;
  width: 90%;
}


/* MAIN CONTENT */
#main-content {
  width: 100%;
  min-height: 100%;
  background-color: #141922;
  padding-top: 110px;
  padding-left: 250px;
}
#main-content #upgrade {
  height: 90px;
  width: calc(100% - 230px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}
#main-content #upgrade a {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  border: 2px solid white;
  margin-right: 20px;
  padding: 11.5px 36px;
  border-radius: 26px;
}
#main-content #upgrade a:hover {
transform: scale(1.1);
}
#main-content #main-menu {
  margin-top: 0;
}
#main-content #main-menu ul {
  margin: 0 auto;
}
#main-content #main-menu ul hr {
  width: 30px;
  margin: 3px auto 0;
  border: 1px solid #adff2f;
  visibility: hidden;
}
#main-content #main-menu ul hr.active {
  visibility: visible;
}
#main-content #main-menu ul li {
  display: inline-block;
  margin-right: 20px;
}
#main-content #main-menu ul li p {
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.53;
}
#main-content #main-menu ul li:hover p {
  opacity: 1;
}
#main-content p {
  font-size: 12px;
  margin-top: 8px;
}
#main-content > div:not(:first-child) {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px 0;
  padding-right: 1.5%;
}
#main-content .song {
  display: inline-block;
  text-align: center;
  width: calc(100% / 6.6);
  margin-right: 1.5%;
}
#main-content .song img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#main-content .song .layover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
#main-content .song .layover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  display: none;
}
#main-content .song:hover .layover img {
  opacity: 0.7;
}
#main-content .song:hover .layover i {
  display: block;
}
#main-content .song h3 {
  margin-top: 10px;
}
#main-content #artisti img {
  border-radius: 50%;
}
#main-content #artisti .layover {
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  #main-content .song {
    width: calc(100% / 4.3);
  }
}
@media screen and (max-width: 768px) {
  #main-content .song {
    width: calc(100% / 2.1);
  }
}
@media screen and (max-width: 600px) {
  #side-nav {
    display: none;
  }
  #main-content {
    padding-left: 70px;
  }
}
@media screen and (min-width: 601px) {
  #side-nav-xs {
    display: none;
  }
}
/* FOOTER  */
footer {
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #282828;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-left {
  width: 230px;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-left #title-mini {
  flex-grow: 1.1;
  margin-left: 12px;
  line-height: 12px;
}
#footer-left #title-mini h5 {
  font-size: 12px;
}
#footer-left #title-mini #subtitle-mini {
  font-size: 10px;
  opacity: 0.53;
}
#footer-left #title-mini:hover #subtitle-mini {
  opacity: 1;
  text-decoration: underline;
}
#footer-left .far {
  opacity: 0.53;
}
#footer-left .far:hover {
  opacity: 1;
}
#footer-left .fa-folder {
  margin-left: 12px;
}
#footer-middle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
}
#footer-middle .player-buttons {
  display: flex;
  /* padding: 0 140px; */
  justify-content: space-between;
  align-items: center;
}
#footer-middle .player-buttons .fa-step-backward {
  margin-left: 22px;
}
#footer-middle .player-buttons .fa-play-circle {
  font-size: 32px;
  margin: 0 32px;
}
#footer-middle .player-buttons .fa-step-forward {
  margin-right: 22px;
}

#footer-middle .player-buttons .fas:hover {
  cursor: pointer;
}
#footer-middle .player-buttons .fa-play-circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}
#footer-middle .player-bar {
  display: flex;
  align-items: center;
  margin: 12px 0 12px;
  width: 45vw;
  max-width: 700px;
  padding: 0 10px;
}
#footer-middle time {
  font-size: 10px;
}
#footer-middle .progress-bar {
  display: inline-block;
  width: 95%;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 2px;
  margin: 0 5%;
}
.progress-bar:hover {
  cursor: pointer;
}
.progress-bar:hover .prog-bar-overlay {
  background-color: #adff2f;
}
.progress-bar:hover .prog-bar-overlay i{
  display: block;
}
.prog-bar-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 19.1%;
  height: 4px;
  background-color: #c1c1c1;
  border-radius: 2px;
}
#footer-right {
  width: 230px;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer-right .progress-bar {
  width: 118px;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 2px;
}
.prog-bar-overlay i {
  display: none;
  font-size: 12px;
  margin-right: -4px;
}
